section.breadcrumbs
  ul.breadcrumbs-list
    li.breadcrumbs-list__item
      a.breadcrumbs-list__item-link(href="#") Главная
    li.breadcrumbs-list__item      
      a.breadcrumbs-list__item-link(href="#") Каталог товаров
    li.breadcrumbs-list__item
      span.breadcrumbs-list__item--current-page( href="#") Воздушные шары

h1 Каталог товаров