header.header-index
	.container-full

		.container
			.top-line
				a.logo(href='#')
					img(src='img/header-logo.png', alt='logo Avitek engeneering')
				nav.top-line__nav
					ul.nav-list
						li.nav-list__item
							a.nav-list__item-link(href='#')
								| Услуги 
								i.fa.fa-angle-down(aria-hidden='true')
								
							.drop-menu
								ul.drop-menu__list
									li.drop-menu__list-item
										a.drop-menu__list-item-link(href='#') Кондиционирование
									li.drop-menu__list-item
										a.drop-menu__list-item-link(href='#') Вентиляция
									li.drop-menu__list-item
										a.drop-menu__list-item-link(href='#') Отопление
									li.drop-menu__list-item
										a.drop-menu__list-item-link(href='#') Пожарные системы
									li.drop-menu__list-item
										a.drop-menu__list-item-link(href='#') Водоснабжение
								ul.drop-menu__list.drop-menu__list--second-block
									li.drop-menu__list-item
										a.drop-menu__list-item-link(href='#') VRF/VRV Системы
									li.drop-menu__list-item
										a.drop-menu__list-item-link(href='#') Фанкойлы и чиллеры
									li.drop-menu__list-item
										a.drop-menu__list-item-link(href='#') Прецизионное кондиционирование
						li.nav-list__item
							a.nav-list__item-link(href='about-company.html') О компании
						li.nav-list__item
							a.nav-list__item-link(href='objects.html') Объекты
						li.nav-list__item
							a.nav-list__item-link(href='#') Отзывы
						li.nav-list__item
							a.nav-list__item-link(href='#') Новости
						li.nav-list__item
							a.nav-list__item-link(href='#') Контакты

				.top-line__contacts
					a.top-line__contacts-number(href='tel:74996545567') +7 499 654-55-67
					a.top-line__contacts-mail(href='mailto:info@avitekengineering.ru')  info@avitekengineering.ru
				.mobile-menu
					a.mobile-menu__btn
						i.fa.fa-bars(aria-hidden='true')
					ul.mobile-menu-nav-list
						a.mobile-menu__btn.mobile-menu__btn--open
							i.fa.fa-times(aria-hidden='true')
						li.mobile-menu-nav-list__item
							a.mobile-menu-nav-list__item-link.mobile-menu-nav-list__item--title(href='#')
								| Услуги
								i.fa.fa-angle-down(aria-hidden='true')
							.mobile-menu-drop
								ul.mobile-menu-drop__list
									li.mobile-menu-drop__list-item
										a.mobile-menu-drop__list-item-link(href='#') Кондиционирование
									li.mobile-menu-drop__list-item
										a.mobile-menu-drop__list-item-link(href='#') Вентиляция
									li.mobile-menu-drop__list-item
										a.mobile-menu-drop__list-item-link(href='#') Отопление
									li.mobile-menu-drop__list-item
										a.mobile-menu-drop__list-item-link(href='#') Пожарные системы
									li.mobile-menu-drop__list-item
										a.mobile-menu-drop__list-item-link(href='#') Водоснабжение
								ul.mobile-menu-drop__list.mobile-menu-drop__list--second-block
									li.mobile-menu-drop__list-item
										a.mobile-menu-drop__list-item-link(href='#') VRF/VRV Системы
									li.mobile-menu-drop__list-item
										a.mobile-menu-drop__list-item-link(href='#') Фанкойлы и чиллеры
									li.mobile-menu-drop__list-item
										a.mobile-menu-drop__list-item-link(href='#') Прецизионное кондиционирование
						li.mobile-menu-nav-list__item
							a.mobile-menu-nav-list__item-link(href='about-company.html') О компании
						li.mobile-menu-nav-list__item
							a.mobile-menu-nav-list__item-link(href='objects.html') Объекты
						li.mobile-menu-nav-list__item
							a.mobile-menu-nav-list__item-link(href='#') Отзывы
						li.mobile-menu-nav-list__item
							a.mobile-menu-nav-list__item-link(href='#') Новости
						li.mobile-menu-nav-list__item
							a.mobile-menu-nav-list__item-link(href='#') Контакты

	.container
		.header-index__text
			h1 Инженерные системы под ключ
			h2 специализируемся на проектировании и монтаже свыше 7 лет
		.header-index__servises
			a.header-index__servises-link.header-index__servises-link--conditioning(href='#')
				| Кондиционирование
			a.header-index__servises-link.header-index__servises-link--ventilation(href='#')
				| Вентиляция
			a.header-index__servises-link.header-index__servises-link--heating(href='#')
				| Отопление
			a.header-index__servises-link.header-index__servises-link--fire-systems(href='#')
				| Пожарные системы
			a.header-index__servises-link.header-index__servises-link--water(href='#')
				| Водоснабжение