section.products
  ul.products-list
    li.products-list__item
      img.products-list__item-img(src="img/baloon.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды и Кометы»
      p.products-list__item-desc Фигуры, латексный, полупрозрачный, средний, красный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 90 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add
    li.products-list__item
      img.products-list__item-img(src="img/baloon-yellow.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды и Кометы»
      p.products-list__item-desc Фигуры, латексный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 15 075 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add
    li.products-list__item
      img.products-list__item-img(src="img/baloon.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды»
      p.products-list__item-desc Фигуры, латексный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 75 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add

    li.products-list__item
      img.products-list__item-img(src="img/baloon.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды и Кометы»
      p.products-list__item-desc Фигуры, латексный, полупрозрачный, средний, красный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 90 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add
    li.products-list__item
      img.products-list__item-img(src="img/baloon-yellow.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды и Кометы»
      p.products-list__item-desc Фигуры, латексный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 15 075 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add
    li.products-list__item
      img.products-list__item-img(src="img/baloon.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды»
      p.products-list__item-desc Фигуры, латексный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 75 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add

    li.products-list__item
      img.products-list__item-img(src="img/baloon.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды и Кометы»
      p.products-list__item-desc Фигуры, латексный, полупрозрачный, средний, красный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 90 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add
    li.products-list__item
      img.products-list__item-img(src="img/baloon-yellow.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды и Кометы»
      p.products-list__item-desc Фигуры, латексный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 15 075 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add
    li.products-list__item
      img.products-list__item-img(src="img/baloon.png", alt="")
      a.products-list__item-link(href="#") Шары «Звезды»
      p.products-list__item-desc Фигуры, латексный
      p 
        strong 75 Р 
        | / шт.
      span.products-list__item-crossed 75 Р
      .products-list__item-input-block.input-block
        input(type="text")
        div.input-block__group-btn
          button.input-block__plus
          button.input-block__minus
        button.input-block__add

        