extends ../template/main

block variables
	- var title = "Главная"
	- var bodyClass = "index"
	
block content
	main.main
		.container
			//- include ../components/first-component
		//- include ../components/first-component