
link(rel="stylesheet" href="css/font-awesome.min.css")
//- link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
//- link(rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css")

//- link(rel="stylesheet" type="text/css" href="css/slick.css")
//- link(rel="stylesheet" type="text/css" href="css/owl.carousel.min.css")
//- link(rel="stylesheet" type="text/css" href="css/magnific-popup.css")
//- link(rel="stylesheet" type="text/css" href="css/animate.css")
