include ../mixins
block variables

doctype html
html(lang="ru-RU")
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    //- link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet")

    include ./libs-css
    link(rel="stylesheet" type="text/css" href="css/main.min.css")

  body(class="" + bodyClass)
    include ../components/header
    block content
    include ../components/footer

    //- #sandbox-container
    //-   div

    //- Кнопка скролла в начало страницы
    //- button.btnScroll

    include ./libs-js
    script(src="js/script.js" type="text/javascript")