.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 8px 14px;
  border: 2px solid #e5f0fb;
  border-radius: 13px;
  background-color: #ebf7ff;
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: stretch;
  }
  &__colors {
    &-title {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      color: #4c4c4c;
      font-family: "Neo Sans Pro";
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

.colors-group {
  display: inline-block;
  vertical-align: middle;
  @media (max-width: 640px) {
    display: inline-flex;
    justify-content: space-around;
    width: 82%;
  }
  &__input {
    display: none;
  }
  &__input:checked+label::before {
    opacity: 1;
  }
  &__input-label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    cursor: pointer;
    &:hover::before {
      opacity: 1;
    }
    &::before {
      position: absolute;
      top: -4px;
      left: -4px;
      content: "";
      width: 21px;
      height: 21px;
      border: 2px solid #ff4343;
      border-radius: 50%;
      opacity: 0;
    }
    &--red {
      background-color: #df0014;
    }
    &--black {
      background-color: #343434;
    }
    &--gold {
      background-color: #dfbc07;
    }
    &--white {
      background-color: #ffffff;
    }
    &--green {
      background-color: #6bdf00;
    }
    &--pink {
      background-color: #df0096;
    }
    &--orange {
      background-color: #df6400;
    }
  }
}

.views-type {
  max-width: 425px;
  width: 100%;
  margin: 0 auto;
  padding: 4px 0;
  border: 1px solid #bacbd7;
  border-top-color: transparent;
  border-bottom-color: transparent;
  text-align: center;
  @media (max-width: $tablet) {
    max-width: 295px;
  }
  @media (max-width: 640px) {
    margin: 13px auto;
  }
  &__input {
    display: none;
  }
  &__input:checked+label::before {
    border-color: #c12524;
    background-color: #f63536;
  }
  &__input:checked+label::after {
    opacity: 1;
  }
  &__input-label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-left: 25px;
    color: #4c4c4c;
    font-family: "Neo Sans Pro";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    @media (max-width: $tablet) {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &::before {
      position: absolute;
      top: -1px;
      left: -25px;
      content: "";
      width: 18px;
      height: 18px;
      border: 1px solid #bdcbd5;
      border-radius: 5px;
      background-color: #d1dee7;
    }
    &::after {
      position: absolute;
      top: 1px;
      left: -19px;
      content: "";
      width: 4px;
      height: 8px;
      border: 2px solid #ffffff;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);
      opacity: 0;
    }
  }
}

.filter__sorting {
  margin: 0 auto;
  color: #4c4c4c;
  font-family: "Neo Sans Pro";
  font-size: 14px;
  font-weight: 400;
  &-title {
    margin-right: 10px;
  }
  &-price {
    position: relative;
    margin-right: 25px;
    border-bottom: 1px dotted red;
    color: #ff0000;
    cursor: pointer;
    &:hover {
      border-bottom: 1px dotted transparent;
    }
    &::before {
      position: absolute;
      top: 0px;
      right: -21px;
      content: "";
      width: 18px;
      height: 17px;
      background: url(../img/arrows.png) center right no-repeat;
    }
  }
}