// FOOTER
.footer {
	&__inner-wrap {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
	background-color: #f9f9f9;
	padding-top: 40px;
	padding-bottom: 50px;
	&__column-info {
		font-size: 1.3rem;
		margin-right: 20px;
		@media (max-width: $mobile) {
			margin-right: 5px;
			font-size: 1.2rem;
		}
	}
}

.social-links {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 100px;
	color: #2b2d42;
	font-size: 1.8rem;
	@media (max-width: 400px) {
		font-size: 2.5rem;
	}
}

.phone {
	font-size: 1.5rem;
	max-width: 117px; // width: 100%;
	flex-basis: 100%;
	margin-bottom: 30px;
	&__number {
		line-height: 30px;
	}
	@media (max-width: 400px) {
		font-size: 1.3rem;
	}
}

.copyright {
	margin-top: 40px;
}

.footer-nav {
	max-width: 750px; // width: 100%;
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
	margin-right: 100px;
	font-size: 1.3rem;
	&__list {
		display: flex;
		flex-direction: column;
		&-item {
			margin-bottom: 15px;
			& .fa-angle-down {
				display: none;
				@media (max-width: 650px) {
					display: inline-block;
				}
			}
		}
		&-link {
			font-size: 1.3rem;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 14px;
			@media (max-width: 400px) {
				font-size: 1.2rem;
			}
			&--active {
				color: #1597cf;
			}
		}
	}
	&__sub-list {
		margin-top: 17px;
		&-item {
			margin-bottom: 15px;
		}
		@media (max-width: 650px) {
			display: none;
		}
		&--show {
			display: block !important;
		}
	}
	@media (max-width: 1050px) {
		margin-right: 0;
	}
	@media (max-width: 650px) {
		max-width: 165px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}